/* Template Wallust para Hyprlauncher */
@define-color bg rgba({{background | strip}}, 0.9);
@define-color fg rgb({{foreground | strip}});
@define-color accent rgb({{color2 | strip}});
@define-color alt_bg rgba({{color8 | strip}}, 0.2);

window {
    background-color: @bg;
    color: @fg;
    border: 2px solid @accent;
    border-radius: 12px;
}

#search-entry {
    background-color: @alt_bg;
    color: @fg;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}

#app-item {
    padding: 8px;
    border-radius: 6px;
    margin: 2px 10px;
}

#app-item:selected {
    background-color: @accent;
    color: @bg; /* Texto inverte para a cor de fundo para contraste */
}

#app-text {
    font-weight: bold;
}
